<%- include('partials/header') %>
<main>
  <section class="login_section">
    <h2>Login</h2>
    <form action="/login" method="POST" class="login_form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
  </section>
</main>
<%- include('partials/footer') %>
